@{
    string currentCart = ViewBag.sessionCart;
}

@if (currentCart != null && currentCart.Length > 2)
{
                    <div class="breacrumb-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="breadcrumb-text product-more">
                                        <a href="/"><i class="fa fa-home"></i>Trang chủ</a>
                                        <span>Giỏ hàng</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <section class="shopping-cart spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Ảnh</th>
                                                    <th class="p-name">Sản phẩm</th>
                                                    <th>Giá</th>
                                                    <th>Số lượng</th>
                                                    <th>Thành tiền</th>
                                                    <th><i class="ti-close"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody class="ListCart">
                                                                                               
                                                                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="cart-buttons">
                                                <a href="/shop" class="primary-btn continue-shop">Tiếp tục mua hàng</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 offset-lg-4">
                                            <div class="proceed-checkout">
                                                <ul>
                                                    <li class="subtotal">Phí vận chuyển <span>0</span></li>
                                                    <li class="cart-total">Tổng tiền <span class="lbl_total"></span></li>
                                                </ul>
                                                <a href="/thanh-toan" class="proceed-btn">Đặt hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> <!-- Shopping Cart Section End -->
}
else
{

    <main id="main" class="">
        <div id="content" class="content-area page-wrapper" role="main">
            <div class="row row-main">
                <div class="large-12 col">
                    <div class="col-inner">
                        <div class="woocommerce">
                            <div class="text-center pt pb">
                                <div class="woocommerce-notices-wrapper"></div><p class="cart-empty woocommerce-info">Chưa có sản phẩm nào trong giỏ hàng.</p>		<p class="return-to-shop">
                                    <a class="button primary wc-backward" href="/shop">
                                        Quay trở lại cửa hàng
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div><!-- .col-inner -->
                </div><!-- .large-12 -->
            </div><!-- .row -->
        </div>
    </main><!-- #main -->
}
